*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 1.6rem;
	background: radial-gradient(circle, rgb(15, 21, 41) 0%, rgb(13, 20, 40) 100%);
	overflow: hidden;
}

body.modal-open::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1;
}

/* HEADER */

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
	margin-bottom: 3rem;
	padding: 1.4em;
	width: 70rem;
	color: #fff;
	border: 3px solid hsl(217, 16%, 45%);
	border-radius: 12px;
}

.game-title {
	display: flex;
	flex-direction: column;
	font-size: 4rem;
	font-weight: bold;
	line-height: 4rem;
}

.game-score-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	padding: 1em;
	background-color: #f4f0f0;
	border-radius: 6px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.score-title {
	color: hsl(229, 64%, 46%);
	font-size: 1.8rem;
	font-weight: bold;
	letter-spacing: 2px;
}

.game-score {
	color: hsl(229, 25%, 31%);
	font-size: 2.2rem;
	font-weight: bold;
}

.game-score p {
	padding: 0.2em;
}

.game-score span {
	padding: 0.2em;
}

.clear-score-btn {
	padding: 0.8em;
	color: hsl(229, 64%, 46%);
	font-size: 1.2rem;
	font-weight: bold;
	letter-spacing: 1.2px;
	border: none;
	border-radius: 6px;
	box-shadow: hsl(229, 64%, 46%) 0px 1px 3px, hsl(229, 64%, 46%) 0px 1px 2px;
	transition: color 0.3s, background-color 0.3s;
	cursor: pointer;
}

.clear-score-btn:hover {
	color: #fff;
	background-color: hsl(229, 64%, 46%);
}

/* MAIN */

.game-items-box {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 40px;
}

.hide-gime-items {
	display: none;
}

.game-item {
	padding: 1.2em;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
}

.paper-item {
	grid-column: 2/3;
	background-color: rgb(43, 127, 212);
	box-shadow: rgb(10, 112, 213) 0px 22px 70px 20px;
	transition: box-shadow 0.9s;
}

.rock-item {
	grid-column: 3/4;
	grid-row: 2/3;
	background-color: rgb(214, 118, 39);
	box-shadow: rgb(177, 94, 25) 0px 22px 70px 20px;
	transition: box-shadow 0.9s;
}

.scissors-item {
	grid-column: 4/ 5;
	background-color: rgb(199, 45, 45);
	box-shadow: rgb(201, 20, 20) 0px 22px 70px 20px;
	transition: box-shadow 0.9s;
}

.paper-item:hover,
.rock-item:hover,
.scissors-item:hover {
	box-shadow: none;
}

.image-container {
	padding: 1.8em;
	background-color: white;
	border-radius: 50%;
	box-shadow: inset 0px 8px 5px rgb(154, 153, 153);
	cursor: pointer;
}

.game-image {
	color: hsl(217, 16%, 45%);
	font-size: 6rem;
}

.fa-solid {
	transform: rotate(-15deg);
	cursor: pointer;
}

.fa-hand-scissors {
	transform: rotate(35deg);
	cursor: pointer;
}

.rules-btn {
	grid-column: 5/6;
	grid-row: 3/4;
	color: #fff;
	width: 100px;
	height: 40px;
	letter-spacing: 3px;
	background: none;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
}

.rules-btn:hover {
	border: 4px solid #fff;
}

/* RULES MODAL */

.modal-rules-box {
	display: none;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2em;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	z-index: 1000;
}

.active {
	display: flex;
}

.rules-image {
	background-image: url("../public/images/image-rules.svg");
	width: 304px;
	height: 270px;
}

.modal-items {
	display: flex;
	justify-content: space-between;
}

.rules-title {
	color: hsl(229, 25%, 31%);
}

.close-modal-btn {
	background: none;
	background-image: url("../public/images/icon-close.svg");
	width: 20px;
	height: 20px;
	font-size: 2rem;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

/* ACTIVE GAME BOX */

.fight-game-box {
	display: none;
	gap: 100px;
}

.show-fight-game-box {
	display: flex;
}

.user-choice-items {
	display: flex;
	flex-direction: column;
	gap: 50px;
	text-align: center;
}

.house-choice-items {
	display: flex;
	flex-direction: column;
	gap: 50px;
	text-align: center;
}

.fight-game-text {
	color: #fff;
	letter-spacing: 2px;
}

.play-again-box {
	display: none;
	flex-direction: column;
	gap: 20px;
}

.active-play-again-box {
	display: flex;
}

.play-again-text {
	color: #fff;
	font-size: 5rem;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

.play-again-btn {
	padding: 0.5em 2em;
	color: hsl(229, 64%, 46%);
	background-color: #fff;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: none;
	border-radius: 6px;
	box-shadow: rgba(193, 195, 218, 0.3) 0px 30px 60px -12px inset,
		hsl(229, 64%, 46%) 0px 18px 36px -18px inset;
	cursor: pointer;
}

.play-again-btn:hover {
	box-shadow: rgba(193, 195, 218, 0.3) 0px 30px 60px -12px,
		hsl(229, 64%, 46%) 0px 18px 36px -18px;
}

.fight-game-item {
	padding: 1.6em;
	border-radius: 50%;
	pointer-events: none;
}

.fight-image-container {
	padding: 2.4em;
	background-color: white;
	border-radius: 50%;
	box-shadow: inset 0px 8px 5px rgb(154, 153, 153);
	cursor: pointer;
}

.fight-game-image {
	color: hsl(217, 16%, 45%);
	font-size: 8rem;
}

/* MEDIA */

@media only screen and (max-width: 900px) {
	/* HEADER */

	.header {
		margin: 1rem;
		margin-bottom: 3rem;
		padding: 0.8em;
		width: 30rem;
	}

	.game-title {
		font-size: 2rem;
		line-height: 2rem;
	}

	.game-score-box {
		padding: 0.7em;
	}

	.score-title {
		font-size: 1.2rem;
		letter-spacing: 1px;
	}

	.game-score {
		font-size: 1.6rem;
	}

	.clear-score-btn {
		font-size: 1rem;
		letter-spacing: 1px;
	}

	/* MAIN */

	.game-items-box {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 0px;
	}

	.game-item {
		padding: 0.6em;
	}

	.paper-item {
		grid-column: 1/2;
		box-shadow: rgb(10, 112, 213) 0px 15px 50px 10px;
	}

	.rock-item {
		grid-column: 2/3;
		grid-row: 2/3;
		box-shadow: rgb(177, 94, 25) 0px 15px 50px 10px;
	}

	.scissors-item {
		grid-column: 3/4;
		box-shadow: rgb(201, 20, 20) 0px 15px 50px 10px;
	}

	.image-container {
		padding: 1em;
		box-shadow: inset 0px 5px 5px rgb(154, 153, 153);
	}

	.game-image {
		font-size: 5.4rem;
	}

	.rules-btn {
		grid-column: 2/3;
		grid-row: 4/5;
		width: 90px;
		height: 30px;
		letter-spacing: 2px;
		border: 1px solid #fff;
	}

	/* RULES MODAL */

	.modal-rules-box {
		gap: 20px;
		padding: 1.4em;
	}

	/* ACTIVE GAME BOX */

	.fight-game-box {
		gap: 50px;
	}

	.user-choice-items {
		gap: 10px;
	}

	.house-choice-items {
		gap: 10px;
	}

	.fight-game-text {
		letter-spacing: 1px;
	}

	.play-again-box {
		position: absolute;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		gap: 15px;
	}

	.fight-game-item {
		padding: 1em;
	}

	.fight-image-container {
		padding: 1em;
		box-shadow: inset 0px 5px 5px rgb(154, 153, 153);
	}

	.fight-game-image {
		font-size: 8rem;
	}
}
